name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"  # Se ejecuta todos los días a medianoche
  workflow_dispatch:  # Permite ejecutarlo manualmente

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: samcastroca
          outputs: dist/snake.svg

      - name: List generated files
        run: ls -lah dist

      - name: Fix permissions
        run: chmod +w dist/snake.svg

      - name: Convert white squares to gray
        run: |
          # Reemplaza la definición de --ce de #ebedf0 a #808080
          sed -i 's/--ce:#ebedf0;/--ce:#808080;/g' dist/snake.svg

      - name: Push to output branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout --orphan output
          git reset
          cp dist/snake.svg snake.svg
          git add snake.svg
          git commit -m "Generated snake animation with gray squares"
          git push -f https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git output

